@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #18d6cd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    position: relative;
}

/* background color hover */
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    background-color: rgba(255, 255, 255, 0.3) !important;
    cursor: pointer;
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    border-color: rgba(255, 255, 255, 0.3) !important;
    cursor: pointer;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}


/* remove border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    content: '';
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background-color: white;
    position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
    transform: rotate(-45deg);
}

/* O */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    content: '';
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 10px solid white;
}

/* winning message */
.winning-message {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000cc;
    width: 100%;
    height: 100vh;
}

/* display winnin message */
.show-winning-message {
    display: flex;
}

.winning-message p {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.winning-message button {
    background-color: rgb(80, 180, 130);
    padding: 10px;
    font-size: 2.5rem;
    width: 250px;
    height: 70px;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    text-align: center;
}

.winning-message button:hover {
    cursor: pointer;
    background-color: rgb(57, 129, 93);

}